/* Custom Code Here */
.card-item {
  display: flex;
  flex-direction: row;
  height: 5.2vh;
  /* border: 1px solid grey; */
  font-size: 2.5vh;
  margin-top: 3%;
  margin-bottom: 2%;
}

.card-item .name {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid grey; */
  text-align: center;
  width: 68vw;
}

.card-item .price {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid grey; */
  text-align: center;
  width: 20vw;
}

.card-item .checkbox {
  color: #fff;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  /* border: 1px solid grey; */
  width: 15vw;
  /* margin-bottom: 50px; */
}

.card-item .checkbox+p {
  text-align: center;
}

.card-item .check input {
  display: none;
}

.card-item .check input:checked+label .box {
  /* initial = 1s */
  -webkit-animation: animOnTransform 0.5s 1 forwards;
  animation: animOnTransform 0.5s 1 forwards;
  background: rgba(0, 0, 0, 0.5);
}

.card-item .check input:checked+label .box i {
  -webkit-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
  -webkit-transition-duration: 100ms;
  transition-duration: 100ms;
  -webkit-transition-delay: 200ms;
  transition-delay: 200ms;
  opacity: 1;
}

.card-item .check label {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  cursor: pointer;
}

.card-item .check label .box {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  position: relative;
  width: 5vh;
  height: 5vh;
  -webkit-transition: background 100ms ease;
  transition: background 100ms ease;
}

.card-item .check label .box:hover {
  background: rgba(0, 0, 0, 0.5);
}

.card-item .check label .box i {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 5vmin;
  display: inline-block;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  -webkit-transition-delay: 50ms;
  transition-delay: 50ms;
  -webkit-transform: translate(-50%, -50%) scale(4);
  transform: translate(-50%, -50%) scale(4);
}

@-webkit-keyframes animOn {
  40% {
    height: 20px;
    width: 100px;
  }

  50% {
    height: 60px;
    width: 30px;
  }

  60% {
    height: 40px;
    width: 70px;
  }

  70% {
    height: 55px;
    width: 45px;
  }

  100% {
    height: 50px;
    width: 50px;
  }
}

@keyframes animOn {
  40% {
    height: 20px;
    width: 100px;
  }

  50% {
    height: 60px;
    width: 30px;
  }

  60% {
    height: 40px;
    width: 70px;
  }

  70% {
    height: 55px;
    width: 45px;
  }

  100% {
    height: 50px;
    width: 50px;
  }
}

@-webkit-keyframes animOnTransform {
  40% {
    -webkit-transform: scale(1.5, 0.5);
    transform: scale(1.5, 0.5);
  }

  50% {
    -webkit-transform: scale(0.5, 1.5);
    transform: scale(0.5, 1.5);
  }

  60% {
    -webkit-transform: scale(1.3, 0.6);
    transform: scale(1.3, 0.6);
  }

  70% {
    -webkit-transform: scale(0.8, 1.2);
    transform: scale(0.8, 1.2);
  }

  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}

@keyframes animOnTransform {
  40% {
    -webkit-transform: scale(1.5, 0.5);
    transform: scale(1.5, 0.5);
  }

  50% {
    -webkit-transform: scale(0.5, 1.5);
    transform: scale(0.5, 1.5);
  }

  60% {
    -webkit-transform: scale(1.3, 0.6);
    transform: scale(1.3, 0.6);
  }

  70% {
    -webkit-transform: scale(0.8, 1.2);
    transform: scale(0.8, 1.2);
  }

  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}

/* end of custom code */