/*  
Radiant Yellow (#F9A12EFF), 
Living Coral (#FC766AFF) and 
Purple (#9B4A97FF) 
*/

/* 
Cibo
Cocktails and Dreams
*/

@import url('https://fonts.googleapis.com/css?family=Lily+Script+One&display=swap');

* {
  outline: none;
  /* disable text selection for all elements*/
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}

html,
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100%;
  font-family: 'Lily Script One', cursive;
  background-color: #673AB7;
}

.header {
  height: 12vh;
  /* border: 1px solid grey; */
}

.banner {
  height: 12vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  color: #FF9800;
  font-size: 10vmin;
}

.card-nav {
  height: 0vh;
  /* border: 1px solid grey; */
}

button.scroll {
  position: fixed;
  height: 6vmin;
  width: 6vmin;
  border-radius: 50px;
  font-size: 3vmin;
  line-height: 0.9;
  font-weight: 900;
  font-style: normal;
  z-index: 1 !important;
}

button.scroll#left {
  left: 2vw;
  top: 45vh;
}

button.scroll#right {
  right: 2vw;
  top: 45vh;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: start;
  overflow-x: hidden;
  scroll-behavior: smooth;
  height: 80vh;
  /* border: 1px solid grey; */
}

.card-container::-webkit-scrollbar {
  display: none;
}

.fill-card {
  min-width: 50vw;
  max-width: 50vw;
  height: 80vh;
  /* border: 1px solid grey; */
}

.card {
  flex-shrink: 0;
  width: 60vw;
  min-width: 350px;
  max-width: 350px;
  height: 70vh;
  padding: 2.5%;
  margin: 0 20px;
  background-color: white;
  border-radius: 3vmin;
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  /* border: 1px solid grey; */
}

.card-heading {
  height: 12%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid grey; */
}

@media screen and (max-width: 450px) {
  .card-container {
    overflow-x: hidden;
  }

  .fill-card {
    min-width: 9.5vw;
    max-width: 9.5vw;
  }

  .card {
    min-width: 83vw;
    max-width: 83vw;
  }
}

.items-container {
  overflow-y: scroll;
  height: 87%;
  padding: 2% 2% 0 2%;
  background:
    /* Shadow covers */
    linear-gradient(white 30%, rgba(255, 255, 255, 0)),
    linear-gradient(rgba(255, 255, 255, 0), white 70%) 0 100%,

    /* Shadows */
    radial-gradient(50% 0, farthest-side, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)),
    radial-gradient(50% 100%, farthest-side, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)) 0 100%;
  background:
    /* Shadow covers */
    linear-gradient(white 30%, rgba(255, 255, 255, 0)),
    linear-gradient(rgba(255, 255, 255, 0), white 70%) 0 100%,

    /* Shadows */
    radial-gradient(farthest-side at 50% 0, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)),
    radial-gradient(farthest-side at 50% 100%, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)) 0 100%;
  background-repeat: no-repeat;
  background-color: white;
  background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;

  /* Opera doesn't support this in the shorthand */
  background-attachment: local, local, scroll, scroll;
  touch-action: pan-y;
  /* border: 1px solid grey; */
}

.items-container::-webkit-scrollbar {
  display: none;
}

/* 
@media screen and (max-width: 450px) {
  .items-container {
    touch-action: pan-y;
  }
} */

.bottom {
  height: 8vh;
  /* border: 1px solid grey; */
}

.drawer {
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 2;
  left: 0;
  bottom: 0;
  background-color: #212121;
  overflow-y: hidden;
  overflow-x: hidden;
  border-radius: 20px 20px 0 0;
}

.drawer h1 {
  font-size: 7vmin;
  text-align: center;
  color: #f1f1f1;
  margin: 1vh;
}

.drawer #closebtn {
  display: none;
  color: #818181;
  text-decoration: none;
  position: absolute;
  right: 5%;
  top: 9%;
  font-size: 7vmin;
  margin-left: 50px;
  transition: 0.3s;
}

.drawer #closebtn:hover {
  color: #f1f1f1;
}

.drawer #handle {
  height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6vmin;
  font-weight: bold;
  /* color: #f1f1f1; */
  color: #343332;
  background-color: #FF9800;
}

@media screen and (min-width: 600px) {
  .drawer h1 {
    font-size: 5vmin;
  }

  .drawer #handle {
    font-size: 4vmin;
  }
}

